In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100 
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [3]:
data.head()

  gender     height      weight
0   male  77.487447  249.924800
1   male  65.991205  210.324544
2   male  65.598122  175.579863
3   male  74.687810  226.364375
4   male  75.093251  185.672168

In [4]:
data.height.mean()

66.93622161251653

In [5]:
data.height.std()

7.1754143439781455

In [7]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    66.936222  181.097811
std      7.175414   25.713085
min     42.039592  115.672235
25%     61.927851  164.989958
50%     66.420432  177.583500
75%     71.554522  195.443659
max     87.034118  265.278855

In [8]:
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  64.119109  4.766416  52.085417  60.584643  63.522774
male    100.0  69.753334  8.046236  42.039592  64.079294  69.443662

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  67.950611  75.008218  100.0  166.525879  14.046773  115.672235
male    75.254250  87.034118  100.0  195.669742  26.508866  136.304527


               25%         50%         75%         max
gender
female  158.803760  167.121205  176.428296  198.251649
male    180.424148  195.060400  210.535684  265.278855

In [9]:
data.gender.value_counts()

female    100
male      100
Name: gender, dtype: int64