In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Question 1

data = pd.DataFrame()

data['age'] = [14, 12, 11, 10, 8, 6, 8]

In [5]:
data.mode()

   age
0    8

In [6]:
data.median()

age    10.0
dtype: float64

In [7]:
data.mean()

age    9.857143
dtype: float64

In [8]:
data.var()

age    7.47619
dtype: float64

In [9]:
data.std()

age    2.734262
dtype: float64

In [12]:
np.std(data['age'] ,ddof=1 / np.sqrt(len(data['age'])))

2.6026756613197146

In [13]:
# Question 2

# I would use mean since it would give me the average age of the kids. I would not use mode or median since the sample size is fairly small and there are not any big outliers.
# I would also use the variance although none of the three feel suitable for this sample size.

In [15]:
# Question 3

data2 = pd.DataFrame()

data2['age'] = [14, 12, 11, 10, 8, 7, 8]

In [16]:
data2.mean()

age    10.0
dtype: float64

In [17]:
data2.mode()

   age
0    8

In [18]:
data2.median()

age    10.0
dtype: float64

In [19]:
data2.std()

age    2.516611
dtype: float64

In [20]:
data2.var()

age    6.333333
dtype: float64

In [21]:
np.std(data2['age'], ddof=1 / np.sqrt(len(data2['age'])))

2.3954992824754737

In [22]:
# Median and mode did not change. Mean increased slightly while variance, STD, and SE all decreased because one of the samples moved closer to the mean.

In [23]:
# Question 4 

# Replacing Oliver with Jessica would change the mode while the median would stay the same.
# The mean would decrease while the variance, STd and SE would increase
# because one of the samples is almost an outlier and increases the
# spread of the numbers.

In [ ]:
# Question 5

# I would say somewhere around 20% since the SciPhi Phanatic is no only an 
# outlier but also wouldn't have many fans of Brady Bunch since it is a Scifi magazine.